<header>
  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<div class="container__articles">


    <div class="article__main">

      <app-big-card photoCover="https://s.aficionados.com.br/imagens/image-435_cke.jpg"
      cardTitle="Novo Homem de Ferro"
      cardDescription=" Marvel Anuncia novo filme do homem de ferro">

      </app-big-card>





    </div>
    <div class="article__others">

      <app-small-card
      cardTitle="Nova série anunciada no Disney plus"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQQHsGr2isW9Sgh-M5ciFG93OzXOEoyoQ6qQ&usqp=CAU">

      </app-small-card>

      <app-small-card
      cardTitle="Novo filme do pantera Negra lançado em breve"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEsJwuru--qB_R9J6MDrTobtMUF7ya7Yl6Og&usqp=CAU">
      </app-small-card>


      <app-small-card cardTitle="Novo filme dos X-men está em direção, afirma diretor"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHJqnQGH7pms2gy6umEyRlb3Up0PGoBkmWCw&usqp=CAU">
      </app-small-card>

    </div>


</div>
